@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:wght@500&display=swap');

body{
  font-family: 'Roboto';
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.successMessage{
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 3px solid #E3E3E3;
  border-radius: 0.5rem;
  box-shadow: 14px 16px 23px 2px #0000001C;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.backToProducts{
  background-color: #2E0052;
  width: 45%;
  border-radius: 0.7rem;
  border: none;
  outline: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2.5rem;
  font-size: medium;
  padding: 0.6rem 3rem 0.6rem 3rem;
}